.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--background);
  color: var(--text-primary-color);
}

.content {
  flex-grow: 1;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
