.content {
  width: 100%;
  max-width: 400px;
  margin: 40px auto;
  padding: 40px;
  border-radius: var(--common-border-radius);
  background-color: var(--colors-interface-form);
  box-shadow: var(--shadow-lg);
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 480px) {
  .content {
    padding: 24px;
    margin: 20px auto;
    box-shadow: none;
    background: transparent;
  }
}
