.footer {
  background-color: transparent;
  width: 100%;
  padding: 32px 0;
  margin: 0 auto;
  text-align: center;
  border-top: 1px solid var(--logout-btn-border);
  margin-top: auto;
}

.text {
  font-size: 14px;
  color: var(--text-secondary-color);
  letter-spacing: 0.5px;
}
